@CHARSET "ISO-8859-1";

/* .homeBackgroundPic{
	background-image: url("../image/homebg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
} */

.footerMarginPosition{
	padding-top: 11.5%;
}