@CHARSET "ISO-8859-1";

tr, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
 
}
th, td {
  padding: 6px;
}
th ,td{
	text-align: center;
}

.aligncenter{
	text-align: center;
}

.floatLoginRight{
	float: right;
	padding: 10px 0px 10px 0px;
}
.btnLogoutSize{
	
	background-color: #eabe0f;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	border: 0.5px solid #000000;
}

.bookTourReciptbg{
	background-color: #FEBE0D;
}

.bookReciptFooter{
	margin-top: 7.9%; 
}