@CHARSET "ISO-8859-1";

tr, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  
  width: 100%;
}

th, td {
  padding: 15px;
}

.button{
	width: 10px;
	height: 4px;
}

